target/
.settings/
.pmd
log/
logs/
data/
lib/
diagram/
.mvn/
RemoteSystemsTempFiles/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.#classpath
.factorypath
#.project
#.settings
#.springBeans
.metadata
.classpath
.project
.springBeans
mvnw
mvnw.cmd

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/